body {

  color: #333333;
  margin-top: 5rem;


}
html {
    height: 100%;
}

 h2, h3, {
  font-family: 'Playfair Display', serif;
  color: white;
}

  h2, .h2 {
    font-size: 45px;
  }
}

  h4 {
     font-family: 'Playfair Display', serif;
     color:gray;


  }
   .h6 {

    font-family: 'Courier Prime', monospace;
    font-weight: bold;

}


h1{
    color: gray;
}


/*ul {
  margin: 0;
  font-family: 'Courier Prime', monospace;
  font-weight: bolder;
  font-size: 15px;
}*/

.bg-steel {
  background-color: black;
}

.site-header .navbar-nav .nav-link {
  color: white;
    font-family: 'Courier Prime', monospace;
    font-weight: bold;
    font-size: 12px;
}

.site-header .navbar-nav .nav-link:hover {
    font-family: 'Courier Prime', monospace;
    font-weight: bold;
    color: gray;
}
a.navbar-brand.mr-4 {

    font-family: 'Playfair Display', serif;

}

a.main-title.mr-4 {

    font-family: 'Playfair Display', serif;
    color:black;
    font-size: 30px;

}


.site-header .navbar-nav .nav-link.active {

  font-weight: 500;
}


.content-section {
  background:#white;
  padding: 10px 10px;
  font-family: 'Lato', sans-serif;
  border-radius: 3px;
  margin-bottom: 5px;
}


.article-title {
  font-family: 'Playfair Display', serif;
  color:black;
}



a.article-title:hover {
  color: gray;
  text-decoration: none;
}

.article-title1 {
  font-family: 'Playfair Display', serif;
  color:black;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3;

}

.article-metadata a:hover {
  color: #333;
  text-decoration: underline;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-miniimg {
  height: 30px;
  width: 30px;
  margin-right: 8px;
  margin-bottom: 8px;
}


.account-heading {
  font-size: 2.5rem;
}

.img-fluid1 {
    height: 430px;
    width: 700px;

}

 p{
    font-family: 'Lato', sans-serif;

}

.one{

    font-family: 'Playfair Display', serif;
    font-style: italic;

}

.articles-cont {
    font-family: 'Lato', sans-serif;

}


p.text-muted {
    color: #cbd5db;
    font-family: 'Courier Prime', monospace;
}

    a {

    text-decoration: none;
    color:#490B3D;

}

.mainpictures {
    color: white;
}


.mainpictures:hover {
    color: gray;
}

a.mr-2 {
    color: #444444;
    text-decoration: none;

}

.navbar-nav {
    display: flex;
    float: left;
}

.account-heading, .text-secondary{

}


/*.carousel-inner {

    width:680px;
    height:360px;
}*/
.carousel-inner {

max-width:100%;
  width:100%;
}



.various-cards{
    padding: 30px 0;
}

.card1 {
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    overflow: hidden;
    border-radius: 15px;
}

.img-1 img{
   height: 200px;
   border-top-right-radius: 15px;
   border-top-left-radius: 15px;
   width: 100%;

}

.card-text{
    padding: 30px 0;
    text-align: center;

}

.card-text h2{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 20px;
    margin: 0 0 20px;
}

.card-text p{
font-size: 16px;
padding: 0 35px;

}

.card-titlehome {
font-family: 'Playfair Display', serif;
text-align: center;
font-size: 25px;
}

.content-section1 {
  background-color: white;
  width: 370px;
  height:500px;
  border: 5px gray;
  padding: 40px;

}


ul  {
    font-family: 'Lato', sans-serif;
    margin: 0;
    font-weight: bolder;
    font-size: 15px;
    }



.card-title2 {

    font-family: playfair-display, serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;

}

.btn-outline-light {
  background: transparent;
  color: #fff;
}

.btn-outline-light:active {
  background: #fff !important;
  color: #000000;
  border-color: #fff;
}

.btn-outline-light:hover {
  background: #fff !important;
  color: #000000;
  border-color: #fff;
}

.overlay::before {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #000;
  opacity: .10;
}

.overlay {
  position: relative;
}

.card-img-overlay::before {
  position: absolute;
  content: "";
  background: linear-gradient(transparent 40%, rgba(0, 0, 0, 0.5));
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.card-img {
 height: 264px;
 width: 190px;
}

.card-content {
  padding: 28px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 15px;

}

blockquote{
  font-style: italic;
  color: gray;
  background: #FFF5EE;
  padding: 20px;
  font-weight: 400;
}

.post-thumb{
  height: 400px;
}

.font-secondary {
  font-family: "hanskendrick" !important;
}


.bg-secondary {
  background: #fdefe6 !important;
}

.section {
  padding-top: 90px;
  padding-bottom: 90px;
}

.section1 {
  padding-top: 80px;
  padding-bottom: 10px;
}



.com1 {
  margin-left: 200px;
  padding-top: 70px;
  padding-bottom: 70px;

}

.com2 {
  margin-left: 40px;


}



*,
*::before,
*::after {
  box-sizing: border-box;
}

.home-title {
     font-family: playfair-display, serif;
    font-weight: 500;
    font-size: 40px;
    line-height:65px;
    letter-spacing: 5px;
    margin-bottom: 100px;
    padding: 3rem 2rem;
    border-radius: 0.25rem;
    opacity: 0;
    animation: ani2 0.5s ease-out forwards;
    }


    .home-title h2, .home-title h4 {
    opacity:0;
    margin:0;
    }

.home-title h2{
    animation: ani2 0.75s ease-out 3s forwards;
}

.home-title h4{
    animation: ani2 0.75s ease-out 4s forwards;
}

@keyframes ani2{

    100% {
        opacity:1;
    }

}
@keyframes ani1
    100% {
    transform: scale(1.55);

}

.mid-menu ul{

  margin-top: 10px;
  margin-bottom: 10 px;
  display: grid;
  justify-content: center;
  align-content: center;
  gap: 20px;
  grid-auto-flow: column;

}


.dropdown {
  position: relative;
  display: inline-block;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

-----


.article-full-width {
  display: flex;
  flex-wrap: nowrap;
}

@media (max-width: 767px) {
  .article-full-width {
    flex-direction: column;
  }
}

.article-full-width .post-image {
  margin-right: 20px;
}

@media (max-width: 767px) {
  .article-full-width .post-image {
    margin: 0 0 20px 0;
  }
}

.article-full-width .post-image img {
  height: 400px;
  width: auto;
}

@media (max-width: 767px) {
  .article-full-width .post-image img {
    height: auto;
    width: 100%;
  }
}

.article-full-width .post-content {
  width: 50%;
}

@media (max-width: 767px) {
  .article-full-width .post-content {
    width: 100%;
  }
}

.article-full-width .post-content .btn {
  padding-left: 0;
}

.article-full-width .post-meta {
  width: 250px;
}

@media (max-width: 991px) {
  .article-full-width .post-summary {
    display: none;
  }
}

@media (max-width: 767px) {
  .article-full-width .post-summary {
    display: block;
  }
}

.article-full-width.article-right {
  justify-content: flex-end;
}

@media (max-width: 767px) {
  .article-full-width.article-right {
    flex-direction: column-reverse;
  }
}

.article-full-width.article-right .post-image {
  order: 2;
  margin: 0 0 0 20px;
}

@media (max-width: 767px) {
  .article-full-width.article-right .post-image {
    margin: 0 0 20px 0;
  }
}

.article-full-width.article-right .post-content {
  order: 1;
}

.article-full-width.article-right .post-meta {
  margin-left: auto;
}

@media (max-width: 767px) {
  .article-full-width.article-right .post-meta {
    margin-left: 0;
  }
}

.article-full-width.article-right .author {
  text-align: right;
}

@media (max-width: 767px) {
  .article-full-width.article-right .author {
    text-align: left;
  }
}

.post-thumb {
  height: 400px;
}


.article-full-width {
  display: flex;
  flex-wrap: nowrap;

  @include tablet {
    flex-direction: column;
  }

  .post-image {
    margin-right: 20px;

    @include tablet {
      margin: 0 0 20px 0;
    }

    img {
      height: 400px;
      width: auto;

      @include tablet {
        height: auto;
        width: 100%;
      }
    }
  }

  .post-content {
    width: 50%;

    @include tablet {
      width: 100%;
    }

    .btn {
      padding-left: 0;
    }
  }

  .post-meta {
    width: 250px;
  }

  .post-summary {
  font-family: 'Lato', sans-serif;
    @include desktop {
      display: none;

    }

    @include tablet {
      display: block;
    }
  }

  &.article-right {
    justify-content: flex-end;

    @include tablet {
      flex-direction: column-reverse;
    }

    .post-image {
      order: 2;
      margin: 0 0 0 20px;

      @include tablet {
        margin: 0 0 20px 0;
      }
    }

    .post-content {
      order: 1;
    }

    .post-meta {
      margin-left: auto;

      @include tablet {
        margin-left: 0;
      }
    }

    .author {
      text-align: right;

      @include tablet {
        text-align: left;
      }
    }
  }
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap')
body
{
    margin: 0;
    padding: 0;

    justify-content: center;
    align-items:center;
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
}


.container2
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.container .box:before{
    content: '';
    width: 50%;
    height:100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255,255,255,.2);
    z-index: 2;
    pointer-events: none;
}

.container .box
{
    position: relative;
    width: 330px;
    padding; 35px;
    background: #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,.1);
    border-radius: 4px;
    margin: 20px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
    font-weight: 500;
    margin-top: 20px;
    box-bottom: 0 2px 5px rgba(0,0,0, .2);

}

.container .box .icon
{
    position: relative;
    width: 80px;
    height: 80px;
    background: #000;
    justify-content: center;
    align-items; center;
    margin: 0 auto;
    border-radius: 50%;
    font-size: 40px;
    font-weight: 700;
    transition: 1s;
}


.container .box:nth-child(1) .icon
{
    box-shadow: 0 0 0 0 #F8E5E5;
    background: #F8E5E5;

}

.container .box:nth-child(1):hover .icon
{
    box-shadow: 0 0 0 400px #F8E5E5;
}

.container .box:nth-child(2) .icon
{
    box-shadow: 0 0 0 0 #CAE7DF;
    background: #CAE7DF;

}

.container .box:nth-child(2):hover .icon
{
    box-shadow: 0 0 0 400px #CAE7DF;
}

.container .box:nth-child(3) .icon
{
    box-shadow: 0 0 0 0 #E8EAE3;
    background: #E8EAE3;

}

.container .box:nth-child(3):hover .icon
{
    box-shadow: 0 0 0 400px #E8EAE3;
}

.container .box .content
{
    position: relative;
    z-index:1;
    transition: 5s;

}

.container .box .content h5
{
    font-size: 20px;
    margin: 10px 0;
    padding: 0;


}

.container .box .content p
{
    font-family: 'Lato', sans-serif;
    margin: 10px;
    padding: 0;

}

   .boxbottom {
   font-family: 'Lato', sans-serif;
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    border-radius: 4px;
    text-decoration: none;
    color:#gray;
}

    .boxbottom:hover {
    color: black;

}

.container3
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.container3 .box
{
    position: relative;
    width: 330px;
    height: 520px;
    padding; 35px;
    background: #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,.1);
    border-radius: 4px;
    margin: 20px;
    overflow: hidden;
    text-align: center;
    margin-top: 20px;
    margin-bottom:230px;
    box-bottom: 0 2px 5px rgba(0,0,0, .2);

}

.container .box .content .boxcards{
 width:260px;
 height:200px;

}




.container4
{
    display: flex;
    flex-wrap: wrap;

}
.container4 .box1
{
    position: relative;

    padding; 35px;
    background: #fff;
    width: 1200px;
    border-radius: 4px;
    margin: 40px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
    font-weight: 500;
    margin-top: 20px;
    box-bottom: 0 2px 5px rgba(0,0,0, .2);

}

.container4 .box1 .content h5
{
    font-size: 20px;
    margin: 10px 0;
    padding: 0;


}

serif;
	font-size: 42px;
	background: #f7f7f7;
}
span{
	margin: 0 15px;
	line-height: .7;
	text-shadow: 0 0 2px rgba(0, 0, 0, .45);
	animation: span 3s ease-in infinite alternate;
}
.main{
	display: flex;
	justify-content: center;
	align-items: flex-start;
}
.letter{
	display: inline-flex;
	height: 30px;
	width: 27px;
	/* border: 2.5px solid #FF1EAD; */
	border: 2.35px solid black;
	border-radius: 14px;
	box-shadow:
		0 0 2px rgba(0, 0, 0, .75),
		inset 0 0 2px rgba(0, 0, 0, .45);

	animation: letter 3s ease-in-out infinite alternate;
}
@keyframes span {
	0%,30%{ margin: 0 15px; }
	70%,100%{ margin: 0 5px; }
}
@keyframes letter {
	0%,30%{ width: 27px; }
	70%,100%{ width: 30vw; }
}

.content4{
background: #F5F5F5;
}

.boxes {
    margin-left: 20px;
    margin-right: 20px;

}

.sticky-top {
    padding-top: 56px;
}


    .btn {

   font-family: 'lato', monospace;
   color: gray;
}


.fa fa-envelope-open{
    align: center;
}

.{

margin-left:100px;




}

div.django-ckeditor-widget {
    display: block;
}