{% extends "blog/base.html" %}
{% block content %}
<br>
<br>
<br>

<div class="container">
    <div class="row">
        <div class="col-lg-9">


             <h4> Magic Mushrooms and Depression </h4>


            <ul class="list-inline d-flex justify-content-between py-3">
                <li class="list-inline-item"><i class="ti-user mr-2"></i>Post by Ana Karina</li>
                <li class="list-inline-item"><i class="fa fa-calendar"></i>  January 25th</li>
            </ul>
            <hr>

            <img src="/media/science/mushrooms.jpg" alt="post-thumb" class="w-100 img-fluid mb-4">
            <div class="content">


                     <a class="btn btn-transparent mb-4" href="https://gimletmedia.com/shows/science-vs/76h8a7o"> To listen to the Podcast
                         click here!</a>


                    <p class="articles-cont"> In this episode Zuckerman talks to "Joseph" who shares his experience with depression, anxiety and psychedelics.
                        She also talks to clinical psychologists Dr. Alan Davis and Dr. Albert Garcia-Romeu, and neuropsychologist Dr. Katrin Preller.
                        It is still a bit of a mystery how it has helped people like "Joseph" with severe anxiety attacks as there
                        is more anecdotal evidence than scientific evidence.
                        Also, how can doing psychedelics magically change your mental health?

                    </p>


                   <p class="articles-cont"> Hallucinogen psilocybin is the active ingredient in mushrooms used in what is called "Shroom
                    Therapy" now legalized in Oregon. In this podcast you'll learn about some of the side-effects and why
                       You can't overdose on psilocybin in comparison to heroin or other drugs but could
                    still have some serious side effects on people. It seems as if mushrooms are just taking off in the USA legal
                       market as two pharmaceutical companies have now been approved by the FDA to make psilocybin based drugs. </p>

                <p class="articles-cont"> I am by no means recommending the use of shrooms.But, I do find interesting how it has helped in
                    some way people with depression as it
                    is one of the leading causes for disability and at its worst leads to suicide.
                    These are some interesting statistics about Depression according to WHO and Our World in Data.

                </p>

                 <br>

                <ul>

                    <li> Close 800 000 people die due to suicide every year.</li>
                    <li>Between 76% and 85% of people in low- and middle-income countries receive no treatment.</li>
                    <li>There are 264 million people of all ages who suffer from depression.</li>
                    <li> Women are more likely to suffer from depression than men.</li>

                </ul>


                <br>
                <br>
                <br>

                <p><img src="/media/science/depresion1.png" alt="post-thumb" class="w-100 img-fluid mb-4"></p>



                <blockquote>
                    "I am speaking of something more serious, of an affliction so severe that it significantly
                    restricts a person’s ability to function fully, a crater in the mind so deep that no one can
                    responsibly suggest it would surely go away if those victims would just square their shoulders
                    and think more positively—though I am a vigorous advocate of square shoulders and positive thinking!
                    No, this dark night of the mind and spirit is more than mere discouragement.
                    If things continue to be debilitating, seek the advice of reputable people with
                    certified training, professional skills, and good values. Be honest with them about your
                    history and your struggles. Prayerfully and responsibly consider the counsel they give and
                    the solutions they prescribe. If you had appendicitis, God would expect you to seek a priesthood
                    blessing and get the best medical care available. So too with emotional disorders.
                    Our Father in Heaven expects us to use all of the marvelous gifts He has provided in
                    this glorious dispensation" (Jeffrey R. Holland, "Like a Broken Vessel")."

                </blockquote>


                <p class="articles-cont"> Depression in Mexico still a bit of a taboo. People tend to find it very strange when someone has any kind of
                    mental disorder. I have never really struggled with severe depression or anxiety. But I did become more aware of it
                    while I was in college and serving a mission for The Church Of JesusChrist of Latter Days Saints in the States. It is
                    heartbreaking to see people struggle as it is not something they can automatically fix or change, nor can we do
                    that for them. I am a bit reluctant about mushrooms being the cure to depression or other mental disorders.

                    But I do believe that with the help of science and becoming more aware of depression, anxiety and other mental disorders
                    the better we will be able to help and understand those who struggle with it. I am not saying this will be the cure
                    but it can certainly make a difference. And, if you're struggling with depression or anxiety do not
                    hesitate to ask for help!


                    P.S I hope you enjoyed the Podcast!

                </p>

            <br>
            <br>
            <hr>

                <h4> References </h4>
                <p>1. GBD 2017 Disease and Injury Incidence and Prevalence Collaborators.
                    2018). Global, regional, and national incidence, prevalence,
                    and years lived with disability for 354 diseases and injuries
                    for 195 countries and territories, 1990–2017: a systematic analysis
                    for the Global Burden of Disease Study 2017. The Lancet. DOI.</p>
                <p>
                    2. Wang et al. Use of mental health services for anxiety, mood, and substance disorders
                    in 17 countries in the WHO world mental health surveys. The Lancet. 2007; 370(9590):841-50. </p>


            </div>
        </div>
    </div>

</div>

<br>
<br>
<br>



{% endblock content %}

