{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section col-8">
        <form method="POST">
             {% csrf_token %}
            <br>
             <fieldset class="form-group">
                 <legend class="border-bottom mb-4"> Register Today!</legend>
                 {{ form|crispy }}
             </fieldset>
            <br>
            <div class="form-group">
                <button class="btn btn-outline-secondary" type="submit">Sign Up</button>
            </div>
         </form>
        <br>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already Have And Account?<a class="ml-2" href="{% url 'login' %}"> Sign In </a>
            </small>
        </div>
     </div>
{% endblock content %}
